# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
ENV/

# Environment variables
.env

# Database
*.db

# Testing and Coverage
.pytest_cache/
.coverage
htmlcov/
coverage.xml

# Distribution / Packaging
dist/
build/
*.egg-info/

# Editor / OS
.DS_Store
.idea/
.vscode/
